* {    
    font-family: sans-serif;
    color: wheat;
}
body {
    background-color: cornflowerblue;
}
th {
    color: darkslategrey;
    text-align: center;    
}
#estrellas {
    width: 70em;
    margin: auto;
    table-layout: fixed;
}
#capaContenedor {
    width: 75em;
    background-color: wheat;
    margin: auto;
    padding: 0.25em;
}
#capaTabla {
    padding: 0.5em;
}
#capaDatos {
    width: 70em;
    margin: auto;
    background-color: darkslategrey;
}
.selectorMano {
    cursor: pointer;
}
.impar {
    background-color: grey;  
}
.par {
    background-color: darkslategrey;
}
.cabecera {
    background-color: darkslateblue;
}
.hover {
    background-color: gold;
}
.clickable {
    color: whitesmoke;
}
.tablaOrdenada {
    background-color: darkslateblue;
    color: whitesmoke;
}
