.impar {
    background-color: #e4e3e2;  
}
.par {
    background-color: #cacaca;
}
.titulo {
    background-color: #8b8b8b;
}
.hover {
    background-color:  #2c2f28;
}
.clickable {
    color: #FFF;
}
.ordenar {
    background-color:#3FF;
    color: #F3C;
}