*{    
    font-family: sans-serif;
}
label {
    margin: 0.25em;
    padding-bottom: 0.55em;
    display: block;
    text-align: left;
}
input{
    display: block;
    float: right;
    clear: left;
    margin: 0.25em;
    border-radius:0.25em;
    border: 1px solid cornflowerblue;
}
form{
    display: table;
    padding: 0.25em;
    background: rgba(101, 156, 239, 0.5);
    box-shadow: 2px 2px 4px cornflowerblue;
}
input[type = "radio"]{
    float: left;
}
#tabs, form{
    margin-left: 0.75em;
    margin-bottom: 0.55em;
}