*{
    font-family: sans-serif;
}
table{
    margin: 0.50em 0.25em;
}
.impar {
    background-color: #FFC;
}
.par {
    background-color: #CFC;
}
.numero {
    background-color: #FF0;
    color:#000;
}
.texto {
    background-color: #FF0;
    color:#000;
}
.tituloasc {
    background-color: #FF0;
}
.titulodes {
    background-color: #C9C;
}
.hover {
    background-color: #0F0;
    color: #000;
    cursor: pointer;
}
.clickable {
    color: #000;
}
.ordenar {
    background-color: #3FF;
    color: #F3C;
}
.verpagina{
    border: groove;
    background-color: #6F9;
}
span{
    border: #000 solid 1px;
    padding: 2px;
    margin: 2px;
}